/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

@use 'vuetify/settings' with (
  $color-pack: false,
  $utilities: false,

  $heading-font-family: var(--font-heading),
  $body-font-family: var(--font-body),

  $grid-breakpoints: (
    'xs': 0,
    'sm': 600px,
    'md': 840px,
    'lg': 1145px,
    'xl': 1545px,
    'xxl': 2138px,
  ),
  $container-max-widths: (
    'md': 700px,
    'lg': 1000px,
    'xl': 1400px,
    'xxl': 2000px,
  ),
);
