@import "tailwindcss/theme" layer(tailwind.theme);
@import "tailwindcss/utilities" layer(tailwind.utilities);

@config "../../tailwind.config.ts";

@theme {
  --font-heading: "Roboto", sans-serif;
  --font-body: "Roboto", sans-serif;
  --font-mono: "Roboto Mono", monospace;

  --radius-sm: 2px;
  --radius-lg: 8px;
  --radius-xl: 24px;

  --color-background: rgb(var(--v-theme-background));
  --color-surface: rgb(var(--v-theme-surface));
  --color-success: rgb(var(--v-theme-success));
  --color-info: rgb(var(--v-theme-info));
  --color-warning: rgb(var(--v-theme-warning));
  --color-error: rgb(var(--v-theme-error));

  --color-primary-100: #a7e0ff;
  --color-primary-900: #003256;
  --color-secondary-100: #92f7ff;
  --color-secondary-200: #57f0ff;
  --color-secondary-300: #10e3fb;
  --color-secondary-400: #00c1da;
  --color-secondary-500: #009fbd;
  --color-secondary-600: #0087a4;
  --color-secondary-700: #097088;
  --color-secondary-800: #0d5d73;

  --breakpoint-*: initial;
  --breakpoint-xs: 0px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 840px;
  --breakpoint-lg: 1145px;
  --breakpoint-xl: 1545px;
  --breakpoint-xxl: 2138px;
}

@custom-variant light (&:where(.v-theme--light, .v-theme--light *));
@custom-variant dark (&:where(.v-theme--dark, .v-theme--dark *));

@utility rounded-0 { border-radius: 0 }
@utility rounded-sm { border-radius: var(--radius-sm) }
@utility rounded-lg { border-radius: var(--radius-lg) }
@utility rounded-xl { border-radius: var(--radius-xl) }

@utility rounded-t-sm { border-top-left-radius: var(--radius-sm); border-top-right-radius: var(--radius-sm) }
@utility rounded-t-lg { border-top-left-radius: var(--radius-lg); border-top-right-radius: var(--radius-lg) }
@utility rounded-t-xl { border-top-left-radius: var(--radius-xl); border-top-right-radius: var(--radius-xl) }

@utility rounded-b-sm { border-bottom-left-radius: var(--radius-sm); border-bottom-right-radius: var(--radius-sm) }
@utility rounded-b-lg { border-bottom-left-radius: var(--radius-lg); border-bottom-right-radius: var(--radius-lg) }
@utility rounded-b-xl { border-bottom-left-radius: var(--radius-xl); border-bottom-right-radius: var(--radius-xl) }

@utility rounded-s-sm { border-start-start-radius: var(--radius-sm); border-end-start-radius: var(--radius-sm) }
@utility rounded-s-lg { border-start-start-radius: var(--radius-lg); border-end-start-radius: var(--radius-lg) }
@utility rounded-s-xl { border-start-start-radius: var(--radius-xl); border-end-start-radius: var(--radius-xl) }

@utility rounded-e-sm { border-start-end-radius: var(--radius-sm); border-end-end-radius: var(--radius-sm) }
@utility rounded-e-lg { border-start-end-radius: var(--radius-lg); border-end-end-radius: var(--radius-lg) }
@utility rounded-e-xl { border-start-end-radius: var(--radius-xl); border-end-end-radius: var(--radius-xl) }
